@import 'mixin';

@mixin selection() {
    background-color: #FFF;
    color: #54B1EE;
}
::-moz-selection { @include selection(); }
::selection { @include selection(); }

* {
    font: 15px verdana;
}

body.loading {
    background-color: red
}

body#page-welcome {
    @include transition(all, 0.2s, ease-in-out);
    background-color: #B5E4FF;

    // .hero {
    //     position: fixed;
    //     z-index: 1;

    //     &.cartman {
    //         bottom: -23px;
    //     }

    //     &.homer {
    //         bottom: -10px;
    //         right: 210px;
    //     }

    //     &.bender {
    //         width: 400px;
    //         left: 250px;
    //         bottom: -150px;
    //     }

    //     &.peter {
    //         right: 150px;
    //         top: 50px;
    //     }

    //     &.stan_smith {
    //         right: -30px;
    //         bottom: 0px;
    //     }

    //     &.patrik {
    //         left: 140px;
    //         top: 0px;
    //     }

    //     &.johnny_bravo {
    //         width: 200px;
    //         left: 0px;
    //     }

    //     &.cow {
    //         width: 150px;
    //         left: -5px;
    //         top: 36%;
    //     }

    //     &.arnold {
    //         width: 200px;
    //         top: 10px;
    //         right: 10px;
    //     }

    //     &.real_monsters {
    //         width: 230px;
    //         top: 0px;
    //         left: 42%;
    //     }
    // }

    #play {
        z-index: 999;

        @include center(250, 120);
        @include border-radius(3px);

        cursor: pointer;
        text-align: center;
        background: #557BAA;
        color: #FFF;
        clear: both;
        font-size: 100px;
        font-family: 'Poiret One', sans-serif;
        padding: 10px;

        @include box-shadow(0 15px 10px -3px #879ECF);

        @include transition(all, 200ms, ease-out);

        &:hover {
            background-color: #3163A3;
            @include box-shadow(0 10px 10px -3px #6D8FB9);
        }

        &:active {
            @include box-shadow(0 10px 20px -3px #6D8FB9);
        }
    }
}

body#page-game {
    &.loading {
        background-color: red;

        #area {
            display: none;
        }
    }

    $cell_size: 40;

    #area {
        .row {
            clear: both;
            height: #{$cell_size}px;

            .cell {
                float: left;
                width: #{$cell_size}px;
                height: #{$cell_size}px;

                &.cell_empty {
                    background-color: yellow;
                }

                //
                &.cell_block {
                    background-color: green;
                    // background-color: yellow;
                    
                    // background-size: #{$cell_size}px;
                    // background-repeat: no-repeat;
                    // background-image: url('https://cdn1.iconfinder.com/data/icons/fatcow/32x32/tree.png');

                    // &.cell_b1 {
                        // background-image: url('https://cdn1.iconfinder.com/data/icons/fatcow/32x32/tree.png');
                    // }

                    // &.cell_b2 {
                    //     background-image: url('https://cdn1.iconfinder.com/data/icons/New-Year-icons-png/48x48/tree_1.png');
                    // }

                    // &.cell_b3 {
                    //     background-image: url('https://cdn1.iconfinder.com/data/icons/New-Year-icons-png/48x48/tree_2.png');
                    // }

                    // &.cell_b4 {
                    //     background-image: url('https://cdn1.iconfinder.com/data/icons/standard-new-year-icons/48/New_Year_Tree.png');
                    // }
                }

                &.cell_bomb {
                    background-color: red;
                    // background-color: yellow;

                    // background-size: #{$cell_size}px;
                    // background-repeat: no-repeat;

                    // background-image: url('https://cdn3.iconfinder.com/data/icons/pidginsmilies/poop.png');
                }

                //
                &.cell_bonus {
                    background-color: blue;

                    // background-color: yellow;
                    
                    // background-size: #{$cell_size}px;
                    // background-repeat: no-repeat;
                    // background-image: url('https://cdn3.iconfinder.com/data/icons/fatcow/32x32_0760/ruby.png');
                }
            }
        }

        .player {
            position: absolute;
            @include transition(-webkit-transform, 0.1s, ease-in-out);

            width: #{$cell_size}px;
            height: #{$cell_size}px;

            background-repeat: no-repeat;
            background-size: #{$cell_size}px;

            &.player_me {
                // 
            }

            // background-image: url(/img/heros_sprite/1_32x48.png);
            // background-position: 4px -4px;

            // &[direction="left"] {
            //     background-position: 5px -53px;

            //     &[direction_step="2"] {
            //         background-position: -27px -53px;
            //     }

            //     &[direction_step="3"] {
            //         background-position: -59px -53px;
            //     }

            //     &[direction_step="4"] {
            //         background-position: -91px -53px;
            //     }
            // }

            // &[direction="right"] {
            //     background-position: 4px -100px;

            //     &[direction_step="2"] {
            //         background-position: -27px -100px;
            //     }

            //     &[direction_step="3"] {
            //         background-position: -59px -100px;
            //     }

            //     &[direction_step="4"] {
            //         background-position: -91px -100px;
            //     }
            // }

            // &[direction="down"] {
            //     background-position: 4px -4px;

            //     &[direction_step="2"] {
            //         background-position: -27px -4px;
            //     }

            //     &[direction_step="3"] {
            //         background-position: -59px -4px;
            //     }

            //     &[direction_step="4"] {
            //         background-position: -91px -4px;
            //     }
            // }

            // &[direction="up"] {
            //     background-position: 4px -150px;

            //     &[direction_step="2"] {
            //         background-position: -27px -150px;
            //     }

            //     &[direction_step="3"] {
            //         background-position: -59px -150px;
            //     }

            //     &[direction_step="4"] {
            //         background-position: -91px -150px;
            //     }
            // }

            $dirdeg: ('up' 0) ('right' 90) ('down' 180) ('left' 270);
            @each $var in $dirdeg {
                $dir: nth($var, 1);
                $deg: nth($var, 2);

                &#{'[direction="'+$dir+'"]'} {
                    -webkit-transform: rotate(#{$deg}deg)
                }
            }

            $heroes: 'eric_cartman' 'kyle_broflovski' 'kenny_mccormick'
                     'leopold_butters_stotch' 'tank1';

            @each $hero in $heroes {
                &.hero_#{$hero} {
                    background-image: url(/img/heroes/#{$hero}/static.png);
                }
            }
        }

        .shoot {
            position: absolute;

            &.shoot_p1 {
                $w: 5; $h: 5;
                background: #ACAAAA;
                width: #{$w}px;
                height: #{$w}px;
                margin-top: -#{$w/2 - 2}px;
                margin-left: -#{$w/2 - 2}px;
                border-radius: 5px;
                box-shadow: #FFF 0 0 2px 3px;
            }

            &.shoot_p2 {
                $w: 10; $h: 10;
                background: red;
                width: #{$w}px;
                height: #{$w}px;
                margin-top: -#{$w/2 - 2}px;
                margin-left: -#{$w/2 - 2}px;
                border-radius: 5px;
                box-shadow: yellow 0 0 2px 4px;
            }

            &.shoot_p3 {
                $w: 5; $h: 5;
                background: red;
                width: #{$w}px;
                height: #{$w}px;
                margin-top: -#{$w/2 - 2}px;
                margin-left: -#{$w/2 - 2}px;
                border-radius: 5px;
                box-shadow: #FFF 0 0 2px 3px;
            }
        }
    }

    &[area="random1"] {
        &.loading {
            background-image: url('http://www.lemog.fr/lemog_textures/albums/3dtextures/carrelage/azuleros_unis/thumb_032_blcrem_orangev.jpg');
        }

        background-image: url('http://www.lemog.fr/lemog_textures/albums/3dtextures/carrelage/azuleros_unis/thumb_039_blcrem_bleuciel.jpg');
        background-size: 82px;
        background-position: 8px;

        #area[name="random1"] {
            #table {
                box-shadow: #8D4F26 0 0 5px 3px;
            }

            .row {
                background-image: url('http://www.lemog.fr/lemog_textures/albums/3dtextures/carrelage/azuleros_unis_2/306_saumon_terre_de_sienne.jpg');
                background-size: 82px;

                .cell.cell_empty {
                    background-color: transparent;
                }

                .cell.cell_block {
                    box-shadow: #415E83 0 0 5px 3px;
                    border-radius: 5px;

                    background-image: url('http://www.lemog.fr/lemog_textures/albums/3dtextures/carrelage/azuleros_unis_2/thumb_281_turquoise_blanc_creme.jpg');
                    background-size: 82px;
                    background-repeat: no-repeat;
                }

                .cell.cell_bomb {
                    background-color: transparent;

                    background-image: url('https://cdn1.iconfinder.com/data/icons/CrystalClear/64x64/apps/clanbomber.png');
                    background-size: #{$cell_size}px;
                    background-repeat: no-repeat;
                    background-position: center;
                }

                .cell.cell_bonus {
                    background-color: transparent;

                    background-image: url(https://cdn4.iconfinder.com/data/icons/Xmas_Stickers/64x64/xmas_sticker-06.png);
                    background-size: 45px;
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
            // .cell.cell_empty {
            //     background-image: url(http://www.lemog.fr/lemog_textures/albums/3dtextures/carrelage/azuleros_bleus_2/thumb_365_victoria.jpg);
            //     background-size: 82px;
            // }
        }
    }
}