@import 'mixin';

@mixin selection() {
    background-color: #FFF;
    color: #54B1EE;
}
::-moz-selection { @include selection(); }
::selection { @include selection(); }

* {
    font: 15px verdana;
}

body#page-welcome {
    @include transition(all, 0.2s, ease-in-out);
    background-color: #B5E4FF;

    .hero {
        position: fixed;
        z-index: 1;

        &.cartman {
            bottom: -23px;
        }

        &.homer {
            bottom: -10px;
            right: 210px;
        }

        &.bender {
            width: 400px;
            left: 250px;
            bottom: -150px;
        }

        &.peter {
            right: 150px;
            top: 50px;
        }

        &.stan_smith {
            right: -30px;
            bottom: 0px;
        }

        &.patrik {
            left: 140px;
            top: 0px;
        }

        &.johnny_bravo {
            width: 200px;
            left: 0px;
        }

        &.cow {
            width: 150px;
            left: -5px;
            top: 36%;
        }

        &.arnold {
            width: 200px;
            top: 10px;
            right: 10px;
        }

        &.real_monsters {
            width: 230px;
            top: 0px;
            left: 42%;
        }
    }

    #play {
        z-index: 999;

        @include center(250, 120);
        @include border-radius(10px);

        font-size: 100px;
        font-family: 'Poiret One', sans-serif;
        background: #D5EDFF;
        color: #1575AC;
        cursor: pointer;
        padding: 10px;
        text-align: center;

        @include box-shadow(0 10px 15px -3px #1581A3);
        @include transition(all, 0.2s, ease-in-out);

        &:hover {
            @include box-shadow(0 10px 25px #1581A3);
        }

        &:active {
            @include box-shadow(2px 2px 2px rgba(155, 155, 155, 0.28) inset);
        }
    }
}

body#page-game {
    background-color: green;

    &.loading {
        background-color: red;

        #area {
            display: none;
        }
    }

    #area {
        $cell_size: 30;

        .row {
            clear: both;
            height: 10px;

            .cell {
                float: left;
                width: #{$cell_size}px;
                height: #{$cell_size}px;

                &.cell_e {
                    background-color: yellow;
                }

                &.cell_b {
                    background-color: green;
                }
            }
        }

        .player {
            position: absolute;
            // @include transition(all, 0.2s, ease-in-out);
            background-color: red;

            width: #{$cell_size}px;
            height: #{$cell_size}px;

            border: 1px red solid;
        }
    }
}



body.loading {
    background-color: red
}
.user {
    text-align: center;
    width: 50px;
    height: 50px;
    position: absolute;
}
.user.me {
    z-index: 999;
    border: 5px red solid;
}