@import 'mixin';

@mixin selection() {
    background-color: #FFF;
    color: #54B1EE;
}
::-moz-selection { @include selection(); }
::selection { @include selection(); }

* {
    font: 15px verdana;
}

body.loading {
    background-color: red
}

body#page-welcome {
    @include transition(all, 0.2s, ease-in-out);
    background-color: #B5E4FF;

    .hero {
        position: fixed;
        z-index: 1;

        &.cartman {
            bottom: -23px;
        }

        &.homer {
            bottom: -10px;
            right: 210px;
        }

        &.bender {
            width: 400px;
            left: 250px;
            bottom: -150px;
        }

        &.peter {
            right: 150px;
            top: 50px;
        }

        &.stan_smith {
            right: -30px;
            bottom: 0px;
        }

        &.patrik {
            left: 140px;
            top: 0px;
        }

        &.johnny_bravo {
            width: 200px;
            left: 0px;
        }

        &.cow {
            width: 150px;
            left: -5px;
            top: 36%;
        }

        &.arnold {
            width: 200px;
            top: 10px;
            right: 10px;
        }

        &.real_monsters {
            width: 230px;
            top: 0px;
            left: 42%;
        }
    }

    #play {
        z-index: 999;

        @include center(250, 120);
        @include border-radius(10px);

        font-size: 100px;
        font-family: 'Poiret One', sans-serif;
        background: #D5EDFF;
        color: #1575AC;
        cursor: pointer;
        padding: 10px;
        text-align: center;

        @include box-shadow(0 10px 15px -3px #1581A3);
        @include transition(all, 0.2s, ease-in-out);

        &:hover {
            @include box-shadow(0 10px 25px #1581A3);
        }

        &:active {
            @include box-shadow(2px 2px 2px rgba(155, 155, 155, 0.28) inset);
        }
    }
}

body#page-game {
    background-color: green;

    &.loading {
        background-color: red;

        #area {
            display: none;
        }
    }

    #area {
        $cell_size: 40;

        .bullet{
              width: 3px;
              height: 15px;
              background-color: red;
              position: absolute;
        }

        .row {
            clear: both;
            height: #{$cell_size}px;

            .cell {
                float: left;
                width: #{$cell_size}px;
                height: #{$cell_size}px;

                &.cell_e {
                    background-color: yellow;
                }

                // bonus
                &.cell_o {
                    // background-color: blue;

                    background-color: yellow;
                    
                    background-size: #{$cell_size}px;
                    background-repeat: no-repeat;
                    background-image: url('https://cdn3.iconfinder.com/data/icons/fatcow/32x32_0760/ruby.png');
                }

                &.cell_b {
                    // background-color: green;
                    background-color: yellow;
                    
                    background-size: #{$cell_size}px;
                    background-repeat: no-repeat;
                    background-image: url('https://cdn1.iconfinder.com/data/icons/fatcow/32x32/tree.png');

                    // &.cell_b1 {
                        // background-image: url('https://cdn1.iconfinder.com/data/icons/fatcow/32x32/tree.png');
                    // }

                    // &.cell_b2 {
                    //     background-image: url('https://cdn1.iconfinder.com/data/icons/New-Year-icons-png/48x48/tree_1.png');
                    // }

                    // &.cell_b3 {
                    //     background-image: url('https://cdn1.iconfinder.com/data/icons/New-Year-icons-png/48x48/tree_2.png');
                    // }

                    // &.cell_b4 {
                    //     background-image: url('https://cdn1.iconfinder.com/data/icons/standard-new-year-icons/48/New_Year_Tree.png');
                    // }
                }

                &.cell_m {
                    // background-color: red;
                    background-color: yellow;

                    background-size: #{$cell_size}px;
                    background-repeat: no-repeat;

                    background-image: url('https://cdn3.iconfinder.com/data/icons/pidginsmilies/poop.png');
                }
            }
        }

        .player {
            position: absolute;
            @include transition(all, 0.1s, ease-in-out);

            width: #{$cell_size}px;
            height: #{$cell_size}px;

            background-repeat: no-repeat;
            background-size: #{$cell_size}px;

            &.player_me {
                // 
            }

            $dirdeg: ('up' 0) ('right' 90) ('down' 180) ('left' 270);
            @each $var in $dirdeg {
                $dir: nth($var, 1);
                $deg: nth($var, 2);

                &#{'[direction="'+$dir+'"]'} {
                    -webkit-transform: rotate(#{$deg}deg)
                }
            }

            $heroes: 'eric_cartman' 'kyle_broflovski' 'kenny_mccormick'
                     'leopold_butters_stotch' 'tank1';

            @each $hero in $heroes {
                &.hero_#{$hero} {
                    background-image: url(/img/heroes/#{$hero}/static.png);
                }
            }
        }
    }
}