@mixin clearfix() {
    display: inline-block;

    &:before,
    &:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
    &:after {
        clear: both;
    }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

@mixin box-shadow($inset) {
     -webkit-box-shadow: $inset;
      -ms-border-radius: $inset;
       -o-border-radius: $inset;
        -moz-box-shadow: $inset;
             box-shadow: $inset;
}

@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
       -moz-transition: $transition-property $transition-time $method;
        -ms-transition: $transition-property $transition-time $method;
         -o-transition: $transition-property $transition-time $method;
            transition: $transition-property $transition-time $method;
}

@mixin center($width, $height) {
    width: $width+px;
    height: $height+px;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-left: -$width/2+px;
    margin-top: -$height/2+px;
}