<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />

        <title>{% block title %}{% endblock %}</title>

        <link rel="stylesheet" href="/css/app.css" />
        <script data-main="/app{%if !debug%}.min{%endif%}.js" src="/js/lib/require.js"></script>

        <script type="text/javascript">
            WebFontConfig = {
                google: { families: [
                    'Poiret+One::latin,cyrillic'
                ] }
            };
        </script>
    </head>
    <body id="page-{{pageName}}">
        {% block content %}{% endblock %}
    </body>
</html>