{% extends 'layout.html' %}

{% set pageName = "welcome" %}

{% block content %}
    <div id="play">Плей!</div>

    <img class="hero cartman" src="/img/index/cartman.png" />
    <img class="hero homer" src="/img/index/homer.png" />
    <img class="hero bender" src="/img/index/bender.png"/>
    <img class="hero peter" src="/img/index/peter.png"/>
    <img class="hero stan_smith" src="/img/index/stan_smith.png"/>
    <img class="hero patrik" src="/img/index/patrik.png" />
    <img class="hero johnny_bravo" src="/img/index/johnny_bravo.png" />
    <img class="hero cow" src="/img/index/cow-chicken.png" />
    <img class="hero arnold" src="/img/index/arnold.png" />
    <img class="hero real_monsters" src="/img/index/real_monsters.png" />
{% endblock %}